.sidebar {
  width: 220px;
  height: 100vh;

  background-color: $slack-purple;
  box-sizing: border-box;

  color: $sidebar-header-lightpurple;
  box-sizing: border-box;
  position: relative;
}

//****** MENU ******

.team-menu {
  padding: 12px 18px;

  &:hover {
    background-color: $slack-purple-deep;
    color: #fff;
    cursor: pointer;
  }

  &:hover i.arrow {
    color: #fff;
  }

  h1 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
  }

  span {
    font-size: 14px;
  }
}

i.circle {
  font-size: 10px;
  font-weight: bold;
  margin-right: 4px;
  color: $green-logged-in;
}

i.arrow {
  margin-left: 6px;
  font-size: 14px;
  color: $sidebar-header-lightpurple;
}

i.bell {
  float: right;
  color: $sidebar-header-lightpurple;
  display: none;

  &:hover {
    float: right;
    color: #fff;
  }
}

//****** dropdown ******
.dropdown-menu {
  display: none;
}

.dropdown-menu-open {
  display: block;
  position: absolute;
  top: 65px;
  left: 18px;
  z-index: 100;

  box-sizing: border-box;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);

  width: 220px;

  color: #000;
  background-color: #fff;

  padding: 15px;
}

.popover-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

//******************


//****** menu items ******



.profile-options {
  background: #fff;
  border-radius: 5px;

  li {
    border-radius: 5px;
    box-sizing: border-box;

    &:hover {
      cursor: default
    }

    &:last-child {
      margin-top: 10px;
      padding: 0;

      a {
        display: block;
        padding: 5px 10px;
      }
    }

    &:last-child:hover {
      background-color: $lightblue-button-hover;
      color: #fff;
      cursor: pointer;
    }
  }
}

.profile-options-header {
  display: flex;
  align-items: center;
  padding: 0 5px;

  img {
    border-radius: 5px;
    width: 36px;
    height: 36px;
  }

  .usernames {
    span {
      display: block;
      padding: 3px 10px;
    }

    .profile-options-handle {
      font-size: 14px;
      margin: -10px 0px 0px 0px;
      color: #A0A0A2;
    }

    .profile-options-username {
      font-weight: bold;
    }
  }
}

//****** CHANNEL INDEX ******

.channels {
  margin: 20px 0 0 0px;
  position: relative;
  font-size: 14px;
}

.channels-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin-right: 20px;

  h1 {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    padding: 0 0 0 20px;

    &:hover {
      color: #fff;
      cursor: pointer;
    }
  }
}

i.create-channel {
  font-size: 17px;
  color: $sidebar-header-lightpurple;

  &:hover {
    color: #fff;
    cursor: pointer;
  }

  &:hover h1.channels-header {
    color: $sidebar-header-lightpurple;
  }
}

//****ACTIVE CHANNEL ****
.channels-index {
  margin: 5px 0 0 0;

  li:first-child a {
    font-weight: bold;
    color: #fff;
    font-size: 18px;
  }

  .active a {
    background-color: $green-active-channel;
    color: #fff;

    &:hover {
      background-color: $green-active-channel;
    }
  }

  & > li {
    position: relative;

    a {
      color: $sidebar-header-lightpurple;
      display: block;
      border-radius: 0 5px 5px 0;
      box-sizing: border-box;

      margin: 0px 20px 0px 0;
      padding: 3px 0 3px 20px;

      display: flex;
      align-items: baseline;
    }

    &:hover a {
      background-color: $slack-purple-deep;
    }

    &:hover i.delete-channel {
      display: block;
      cursor: pointer;
    }

    i.delete-channel {
      display: none;
      font-size: 14px;
      position: absolute;
      left: 182px;
      top: 7px;

      &:hover {
        color: #fff;
      }
    }
  }
}

//****** DM INDEX ******

i.create-channel {
  font-size: 17px;
  color: $sidebar-header-lightpurple;

  &:hover {
    color: #fff;
    cursor: pointer;
  }

  &:hover h1 {
    color: $sidebar-header-lightpurple;
  }
}


//****ACTIVE DM ****

.dm-index {
  margin: 5px 0 0 0;
  li {
    position: relative;

    a {
      color: $sidebar-header-lightpurple;
      display: block;
      border-radius: 0 5px 5px 0;
      margin: 0px 20px 0px 0;
      padding: 3px 0 3px 20px;

      display: flex;
      align-items: baseline;
      box-sizing: border-box;
    }

    &:hover a {
      background-color: $slack-purple-deep;
    }

    span {
      margin-right: 5px;
      background-color: $sidebar-header-lightpurple;
      padding: 0px 4px;
      font-size: 11px;
      font-weight: bold;
      color: $slack-purple;
      border-radius: 2px;
    }
  }

  .active a {
    background-color: $green-active-channel;
    color: #fff;

    &:hover {
      background-color: $green-active-channel;
    }
  }

  i.delete-channel {
    display: none;
    font-size: 14px;
    position: absolute;
    left: 182px;
    top: 7px;

    &:hover {
      color: #fff;
    }
  }

  li:hover i.delete-channel {
    display: block;
    cursor: pointer;
  }
}
