.browse-channels {
  margin: 100px auto;
  width: 640px;
  position: relative;

  h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 30px 0;
  }

  h2 {
    padding: 0 10px;
    margin: 25px 0 10px 0;
    font-size: 14px;
    color: $search-result-text-gray;
    font-weight: bold;
  }

  ul {
    overflow: auto;
    height: 510px;

    li {
      border-radius: 5px;
      transition: background-color 0.4s;
      padding: 0px 10px;

      &:hover {
        background-color: $search-result-blue-hover;
        cursor: default;
      }

      &:hover button {
        display: block
      }
    }
  }
}


.browse-search {
  width: 91%;
  border-radius: 5px;
  height: 50px;
  border: 1px solid #ccc;
  padding: 3px 0 3px 45px;
  font-size: 24px;

  transition: border-color 0.6s;

  &:hover {
    border-color: $lightblue-button-hover;
  }
}


.browse-channel-searchbar {
  position: relative;

  i {
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 32px;
    color: #ccc;
  }
}

.search-result {
  padding: 10px 10px;
  color: $search-result-text-gray;
  font-size: 18px;
  font-weight: bold;
  display: block;

  &:hover {
    cursor: default;
  }
}


.search-result-topline {
  display: flex;
  justify-content: space-between;
  width: 100%;

  h3 {
    display: inline-block;
  }

  .search-members-count {
    display: flex;
    align-items: center;
  }

  i {
    font-size: 20px;
  }

  span {
    font-size: 14px;
  }
}

.search-result-bottomline {
  width: 100%;
  display: flex;
  justify-content: space-between;

  i {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
  }

  em {
    font-size: 16px;
    font-weight: bold;
  }

  button {
    display: none;
    cursor: pointer;
    align-items: center;
    color: $lightblue-button;
    font-size: 15px;
    font-weight: normal;
  }
}
