div.create-channel-form {
  margin: 70px auto;
  width: 620px;

  position: relative;

  h1 {
    font-size: 32px;
    font-weight: bold;
  }

  h2 {
    margin: 15px 0 20px 0;
    color: #aaa;
  }

  input {
    //inheriting from other input
    display: block;
    width: 597px;
    height: 50px;
    font-size: 24px;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;

    transition: border-color 1s;

    &:hover {
      border-color: $blue-border-hover;
    }
  }

  p {
    margin: 10px 0 10px 0;
    color: #aaa;
    font-size: 14px;
  }

  .create-channel-button {
    background-color: $lightblue-button;
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0 0 0;
    border-radius: 5px;
    font-weight: bold;

    &:hover {
      cursor: pointer;
      background-color: $lightblue-button-hover;
    }
  }
}

.newchannel-label {
  text-align: left;
  margin: 0px 0 5px 0px;
}


i.exit-icon {
  font-size: 76px;
  color: #aaa;
  float: right;

  transition: color 0.6s;

  &:hover {
    color: $exit-gray-hover;
    cursor: pointer;
  }
}
