.browse-dm {
  margin: 100px auto;
  width: 640px;
  position: relative;

  h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 30px 0;
  }
}

// SELECTED USERS IN DM search

.dm-selected-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.dm-search-results {
  overflow: auto;
  height: 510px;

  li {
    transition: background-color 0.4s;

    &:hover {
      background-color: $search-result-blue-hover;
      cursor: pointer;
    }
  }
}

.dm-search-result {
  padding: 10px 15px;
  color: $search-result-text-gray;
  font-size: 18px;
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }

  &:hover i {
    display: block;
    cursor: pointer;
    color: $dm-search-result-arrow-blue;
    font-size: 20px;
  }
}

.dm-search-result-topline {
  display: flex;
  justify-content: space-between;
  
  i {
    display: none
  }
}


.dm-selected-item {
  list-style: none;
  border-radius: 5px;
  background-color: $dm-selected-item-blue;
  margin: 5px 3px;
  padding: 3px 8px;
  box-sizing: border-box;

  color: #fff;
  flex-shrink: 1;

  &:hover {
    background-color: $dm-selected-item-blue-hover;
    cursor: pointer;
  }
}


.dm-details-container {
  display: flex;
  align-items: center;

  p {
    margin-right: 5px;
    font-size: 11px;
  }
}

i.clear {
  color: #fff;
  font-size: 12px;
}

// *****************************

.dm-subheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}

.browse-dm {
  h2 {
    padding: 0 10px 0 0;
    margin: 0 0 0 0;
    font-size: 14px;
    color: $search-result-text-gray;
    font-weight: bold;
  }

  ul {
    overflow: auto;
    height: 510px;
  }
}

#join-dm {
  outline: none;
  background: $green-button;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 17px;

  &:hover {
    outline: none;
    background: $green-button-hover;
    cursor: pointer;
  }
}

.dm-search {
  width: 91%;
  border-radius: 5px;
  height: 50px;
  border: 1px solid #ccc;
  padding: 3px 0 3px 45px;
  font-size: 24px;
  outline: none;

  transition: border-color 0.6s;

  &:hover {
    border-color: $blue-border-hover;
    outline: none;
  }
}


.browse-dm-searchbar {
  position: relative;

  i {
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 32px;
    color: #ccc;
  }
}

//errors


.browse-dm-errors {
  height: 30px;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 10px;

  span {
    color: #E85D72;
    display: flex;
    align-self: flex-end;
    font-size: 12px;
  }
}
