div.browse-dm {
  margin: 100px auto;
  width: 640px;

  position: relative;
}

div.browse-dm h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0 0 30px 0;
}

// SELECTED USERS IN DM search


div.dm-selected-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

ul.dm-search-results {
  overflow: auto;
  height: 510px;
}

div.dm-search-result {
  padding: 10px 15px;
  color: #67686E;
  font-size: 18px;
  font-weight: bold;
}

div.dm-search-result:hover {
  cursor: pointer;
}

div.dm-search-result:hover i {
  display: block;
  cursor: pointer;
  color: #439fe0;
  font-size: 20px;
}



.dm-search-result-topline h3 {
  float: left;
}

.dm-search-result-topline i {
  float: right;
  display: none
}



li.dm-selected-item {
  list-style: none;
  border-radius: 5px;
  background-color: #3aa3e3;
  margin: 5px 3px;
  padding: 3px 8px;
  box-sizing: border-box;

  color: #fff;
  flex-shrink: 1;
}

li.dm-selected-item:hover {
  background-color: #0B91E3;
  cursor: pointer;
}

div.dm-details-container {
  display: flex;
  align-items: center;

}

div.dm-details-container p {
  margin-right: 5px;
  font-size: 11px;
}

i.clear {
  color: #fff;
  font-size: 12px;
}

// *****************************

div.dm-subheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}

div.browse-dm h2 {
  padding: 0 10px 0 0;
  margin: 0 0 0 0;
  font-size: 14px;
  color: #67686E;
  font-weight: bold;
}

button#join-dm {
  outline: none;
  background: #2ab27b;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 17px;
}

button#join-dm:hover {
  outline: none;
  background: #0DA668;
  cursor: pointer;
}

div.browse-dm ul {
  overflow: auto;
  height: 510px;
}

input.dm-search {
  width: 91%;
  border-radius: 5px;
  height: 50px;
  border: 1px solid #ccc;
  padding: 3px 0 3px 45px;
  font-size: 24px;
  outline: none;

  transition: border-color 0.6s;
}

input.dm-search:hover {
  border-color: #38A2E0;
  outline: none;
}

div.browse-dm-searchbar {
  position: relative;
}

div.browse-dm-searchbar i {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 32px;
  color: #ccc;
}

.dm-search-results > li {
  transition: background-color 0.4s;
}

.dm-search-results > li:hover {
  background-color: #EDF7FD;
  cursor: pointer;
}




//errors


.browse-dm-errors {
  height: 30px;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 10px;
}

.browse-dm-errors span {
  color: #E85D72;
  display: flex;
  align-self: flex-end;
  font-size: 12px;
}
