// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, input {
	margin: 0;
	padding: 0;
	border: 0;

	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  text-decoration: inherit;

  background: transparent;

}

body {
  font-family: sans-serif;
  text-decoration: none;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

// ****** HEADER ******

.greeting {
	position: absolute;
	top: 0;
	display: block;
	z-index: 100;
	width: 100%;
	padding: 20px;

	box-sizing: border-box;
	// background: gray;

}

.logo {
	float: left;
	font-weight: 700;
	// border: 2px solid red;
}

.logo a {
	padding: 12px 22px;
	display:block;
	color: #E6E6E6;

}

.logo a:hover {
	color: #ffffff;
}

.signin-corner {
	display: block;
	background: transparent;

	border: 2px solid #E6E6E6;
	box-sizing: border-box;
	border-radius: 5px;
	float: right;
}

.signin-corner a {
	padding: 10px 20px;
	display: block;
	color: #E6E6E6;
	font-weight: 700;
}

.signin-corner:hover {
	border: 2px solid #ffffff;
	color: #ffffff;
}

// ****** SPLASH ******

div .splash {
  height: 1000px;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/67/fc/45/67fc45bbe318641ce5a22871f81c54fe.jpg");
  background-size: cover;

  position: relative;
}

.signup-bg {
	display: block;
	height: 168px;
	width: 700px;
	position: absolute;
	top: 444px;
	left: 50%;
	margin-left: -350px;
	padding: 20px;

	z-index: 0;
}

.signup-bg:before {
	content: "";
	background-color: #424242;
	display:block;
	opacity: 0.7;
	z-index: -1;
	border-radius: 5px;

	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

h1.header-title {
  display: block;
  margin: 0 auto;
  color: #ffffff;
  font-weight: 700;
  font-size: 42px;


  width: 675px;
  text-align: center;
}


.signup-button {
	display: block;
	background-color: #52B78D;
	margin: 15px auto;
	border-radius: 5px;

	width: 185px;
	height: 50px;

}

.signup-button a {
	padding: 10px 20px;
	display: block;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
}

.signup-button:hover {
	background-color: #58C799;
	color: #ffffff;
}

// *********************************

// ****** LOGIN/SIGNUP ******

div .form {
  background-color: #fff;
  border: 2px solid #ccc;
	border-radius: 5px;
  width: 640px;
  height: 400px;
  margin: 0 auto;

  padding: 30px;
  box-sizing: border-box;

	position: absolute;
	left: 50%;
	top: 135px;
	margin-left: -320px;

}

.header {
  font-size: 36px;
  text-align: center;
  margin: 0 0 20px 0;
}

.signup-instruction {
  font-size: 14px;
  text-align: center;
}

input {

  display: block;
  width: 360px;
  height: 50px;
  font-size: 24px;
  padding: 5px 10px;

  box-sizing: border-box;

  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px auto;

  transition: border-color 1s;
}

input:hover {
  border-color: #38A2E0;
}

label {
  text-align: center;
  display: block;
}

.submit {
  display: block;
  margin: 0 auto;
  border: 1px solid #ccc;

  width: 360px;
  height: 50px;
  border-radius: 5px;

  background-color: #38A2E0;

  color: #fff;
  font-size: 24px;

  transition: background-color 2s;
}

.submit:hover {
  background-color: #38BCE0;

}

.guest-login {
	text-align: center;

	margin: 20px;

	font-size: 14px;
}

.guest-login a {
	text-decoration: underline;
	cursor: pointer;
}

// *************************

//****** ERRORS ******
.auth-errors {
  display: block;
  background-color: #eee;
  padding: 5px;
  font-size: 14px;
  margin: 30px auto;
  text-align: center;
  width: 250px;
  border-radius: 5px;
}

.errors-list {
	list-style: none;
	position: absolute;
	top: 60px;
	left: 50%;
	margin-left: -130px;
}

// *******************
