@mixin slide_in($duration, $x) {
  animation: slide_in $duration;

  @keyframes slide_in {
    0% {
      transform: translateX($x);
    }

    100% {
      transform: translateX(0px);
    }
  }
}

@mixin slide_up($duration, $y) {
  animation: slide_up $duration;

  @keyframes slide_up {
    0% {
      transform: translateY($y);
    }

    100% {
      transform: translateY(0px);
    }
  }
}


@mixin fade_in($duration: 2s) {
  animation: fade_in $duration;

  @keyframes fade_in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

@mixin roll_down($duration) {
  overflow: hidden;
  animation: roll_down $duration;

  @keyframes roll_down {
    0% {
      max-height: 0px;
      opacity: 0;
    }

    100% {
      max-height: 500px;
      opacity: 1;
    }
  }
}
