.popout {
  width: 50%;

  display: flex;
  flex-direction: column;

  @include slide_in(300ms, 500px);
}


#popout-header {
  display: flex;
  justify-content: flex-end;

  padding: 20px;
}

.popout-exit:hover {
  cursor: pointer;
  color: #ccc;
}

.popout img {
  width: 80%;
  margin: 0 auto;
  border: 1px dotted #ccc;
}

#popout-intro {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 20px 0;

  i {
    margin-left: 5px;
  }
}


#popout-edit-buttons {
  display: flex;
  justify-content: center;
}

#edit-profile {
  font-weight: bold;
  padding: 8px 12px;
  color: #555459;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fbfbfa;

  &:hover {
    background-color: #fff;
    color: $lightblue-button-hover;
    text-decoration: underline;
    cursor: pointer;
  }
}
