.modal-background-close {
  display: none;
}

.profile-picture-modal-close {
  display: none;
}

.modal-background-open {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  background-color: rgba(255, 255, 255, 0.74902);
  z-index: 10;

}

.profile-picture-modal-open {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  z-index: 11;
  opacity: 100;
  transition: opacity 1s;
}

.profile-picture-modal-exit {
  display: inherit;

  &:hover {
    cursor: pointer;
    color: #ccc;
  }
}


.profile-pic-update {
  display: none;
}

#update-picture-container {
  width: 192px;
  height: 192px;
  background-color: #000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  span {
    display: none;
  }

  i {
    display: none;
  }

  label {
    width: 100%;
    height: 100%;
  }

  &:hover {

    border: 3px solid $lightblue-button;
    box-sizing: border-box;
    cursor: pointer;

    label {
      cursor: pointer;
      filter: opacity(0.5);
    }

    span {
      display: block;
      position: absolute;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      z-index: 100;
      margin: 0 10px 0 10px;
    }

    i {
      display: block;
      position: absolute;
      color: #fff;
      z-index: 100;
      top: 45px;
    }
  }
}
