.form {
  background-color: #fff;
	border-radius: 5px;
  width: 640px;
  height: 400px;

  padding: 30px;
  box-sizing: border-box;

  animation-delay: 2s;
  @include roll_down(2s);
  
  h1 {
    font-size: 36px;
    text-align: center;
    margin: 0 0 20px 0;
    color: $offblack-text;
  }

  h2 {
    font-size: 14px;
    text-align: center;
    color: $offblack-text;
  }

  .guest-login {
  	text-align: center;
  	margin: 20px;
  	font-size: 14px;

    a {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.form-field {
  label {
    text-align: center;
    display: block;
  }

  input {
    display: block;
    width: 360px;
    height: 50px;
    font-size: 24px;
    padding: 5px 10px;
    margin: 20px auto;

    color: $offblack-text;

    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;


    transition: border-color 1s;

    &:hover {
      border-color: $blue-border-hover;
    }
  }

  .submit {
    display: block;
    margin: 0 auto;
    border: 1px solid $lightblue-button;

    width: 360px;
    height: 50px;
    border-radius: 5px;

    background-color: $lightblue-button;
    color: #fff;
    font-size: 24px;
    transition: background-color 1s;

    &:hover {
      background-color: $lightblue-button-hover;
      border: 1px solid $lightblue-button-hover;
      cursor: pointer;
    }
  }
}
