/* line 1, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
div.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #4D394B;
  box-sizing: border-box;
  color: #AB9BA9;
  box-sizing: border-box;
  position: relative;
}

/* line 15, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
div.team-menu {
  padding: 12px 18px;
}

/* line 21, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
div.team-menu:hover {
  background-color: #3E313C;
  color: #fff;
  cursor: pointer;
}

/* line 27, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
div.team-menu:hover i.arrow {
  color: #fff;
}

/* line 32, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
h1.sidebar-header {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

/* line 38, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
span.sidebar-header-username {
  font-size: 14px;
}

/* line 42, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
i.circle {
  font-size: 10px;
  font-weight: bold;
  margin-right: 4px;
  color: #AB9BA9;
}

/* line 49, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
i.arrow {
  margin-left: 6px;
  font-size: 14px;
  color: #AB9BA9;
}

/* line 55, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
i.bell {
  float: right;
  color: #AB9BA9;
}

/* line 59, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
i.bell:hover {
  float: right;
  color: #fff;
}

/* line 68, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
nav.dropdown-menu {
  display: none;
}

/* line 72, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
nav.dropdown-menu-open {
  display: block;
  position: absolute;
  top: 65px;
  left: 18px;
  z-index: 100;
  box-sizing: border-box;
  border: 1px solid #eee;
  border-radius: 5px;
  width: 183px;
  color: #000;
  background-color: #fff;
}

/* line 89, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
div.popover-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* line 104, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
ul.profile-options {
  background: #fff;
  padding: 15px;
  color: #2c2d30;
  border-radius: 5px;
}

/* line 112, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
ul.profile-options li {
  border-radius: 5px;
  padding: 5px 10px;
  box-sizing: border-box;
}

/* line 120, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
ul.profile-options li:hover {
  cursor: default;
}

/* line 125, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
ul li.profile-options-handle {
  font-size: 14px;
  margin: -10px 0px 0px 0px;
  color: #A0A0A2;
}

/* line 131, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
ul li.profile-options-username {
  font-weight: bold;
}

/* line 135, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
ul.profile-options li:last-child {
  margin-top: 10px;
  padding: 0;
}

/* line 140, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
ul.profile-options li:last-child a {
  display: block;
  padding: 5px 10px;
}

/* line 145, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
ul.profile-options li:last-child:hover {
  background-color: #3aa3e3;
  color: #fff;
  cursor: pointer;
}

/* line 153, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
div.channels {
  margin: 20px 0 0 0px;
  position: relative;
  font-size: 15px;
}

/* line 159, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
div.channels-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 199px;
}

/* line 167, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
h1.channels-header {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  padding: 0 0 0 20px;
}

/* line 176, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
div.channels h1:hover {
  color: #fff;
  cursor: pointer;
}

/* line 181, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
i.create-channel {
  font-size: 17px;
  color: #AB9BA9;
}

/* line 186, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
i.create-channel:hover {
  color: #fff;
  cursor: pointer;
}

/* line 191, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
i.create-channel:hover h1.channels-header {
  color: #AB9BA9;
}

/* line 197, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
ul.channels-index li.active a {
  background-color: #4F9689;
  color: #fff;
}

/* line 202, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
ul.channels-index li.active a:hover {
  background-color: #4F9689;
}

/* line 207, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
ul.channels-index {
  margin: 5px 0 0 0;
}

/* line 211, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
.channels-index li:first-child a {
  font-weight: bold;
  color: #fff;
  font-size: 18px;
}

/* line 217, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
ul.channels-index > li {
  position: relative;
}

/* line 222, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
ul.channels-index li a {
  color: #AB9BA9;
  display: block;
  border-radius: 0 5px 5px 0;
  margin: 0px 20px 0px 0;
  padding: 3px 0 3px 20px;
  display: flex;
  align-items: baseline;
  box-sizing: border-box;
}

/* line 237, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
ul.channels-index li:hover a {
  background-color: #3E313C;
}

/* line 245, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
ul.channels-index i.delete-channel {
  display: none;
  font-size: 14px;
  position: absolute;
  left: 182px;
  top: 7px;
}

/* line 253, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
ul.channels-index li:hover i.delete-channel {
  display: block;
  cursor: pointer;
}

/* line 258, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
i.delete-channel:hover {
  color: #fff;
}

/* line 271, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
div.channels {
  margin: 20px 0 0 0px;
  position: relative;
  font-size: 15px;
}

/* line 277, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
div.channels-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 199px;
}

/* line 285, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
h1.channels-header {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  padding: 0 0 0 20px;
}

/* line 294, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
div.channels h1:hover {
  color: #fff;
  cursor: pointer;
}

/* line 299, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
i.create-channel {
  font-size: 17px;
  color: #AB9BA9;
}

/* line 304, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
i.create-channel:hover {
  color: #fff;
  cursor: pointer;
}

/* line 309, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
i.create-channel:hover h1.channels-header {
  color: #AB9BA9;
}

/* line 315, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
ul.dm-index li.active a {
  background-color: #4F9689;
  color: #fff;
}

/* line 320, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
ul.dm-index li.active a:hover {
  background-color: #4F9689;
}

/* line 325, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
ul.dm-index {
  margin: 5px 0 0 0;
}

/* line 330, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
ul.dm-index > li {
  position: relative;
}

/* line 335, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
ul.dm-index li a {
  color: #AB9BA9;
  display: block;
  border-radius: 0 5px 5px 0;
  margin: 0px 20px 0px 0;
  padding: 3px 0 3px 20px;
  display: flex;
  align-items: baseline;
  box-sizing: border-box;
}

/* line 350, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
ul.dm-index li:hover a {
  background-color: #3E313C;
}

/* line 358, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
ul.dm-index i.delete-channel {
  display: none;
  font-size: 14px;
  position: absolute;
  left: 182px;
  top: 7px;
}

/* line 366, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
ul.dm-index li:hover i.delete-channel {
  display: block;
  cursor: pointer;
}

/* line 371, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
i.delete-channel:hover {
  color: #fff;
}

/* line 376, /Users/brucewang/Desktop/Lacks/app/assets/stylesheets/sidebar.scss */
li.dm-li span {
  margin-right: 5px;
  background-color: #ab9ba9;
  padding: 0px 4px;
  font-size: 11px;
  font-weight: bold;
  color: #4D394A;
  border-radius: 2px;
}
