
//sessions
$green-button: #53B68D;
$green-button-hover: #58C799;
$welcome-text-gray: #E6E6E6;

$lightblue-button: #38A2E0;
$lightblue-button-hover: #38BCE0;
$blue-border-hover: #38A2E0;
$offblack-text: #2c2d30;

//sidebar
$sidebar-header-lightpurple: #AB9BA9;
$slack-purple: #4D394B;
$slack-purple-deep: #3E313C;
$green-active-channel: #4F9689;
