

div.header-left {
  height: 60px;
  float: left;


  padding: 10px 20px;
  box-sizing: border-box;
}

div.header-title {
  display: flex;
  align-items: center;
  margin: 0 0 5px 0;
}

div.header-title h1 {
  font-weight: bold;
  font-size: 18px;
}

div.header-title span {
  color: #aaa;
  margin-left: 5px;
}

div.header-info {
  display: flex;
  align-items: center;
}

div.header-info > * {
    display: block;
    margin-right: 5px;
}

div.header-info i.material-icons {
  font-size: 15px;
}

div.header-info i.person:hover {
  color: #3aa3e3;
  cursor: default;
}

.star:hover {
  color: #fc0;
  cursor: default;
}

.header-status-text:hover {
  color: #3aa3e3;
  cursor: default;
}

i#circle {
  color: #95CB95;
}

span.header-status-text {
  font-size: small;
  color: #757678;
}

span.topic-divider {
  color: #757678;
  font-weight:lighter;
  font-size: 12px;
}

div.header-right {
  height: 60px;
  float: right;
  box-sizing: border-box;
  align-items: center;
  padding: 15px 20px;
}


div.header-right button.leave-button-active:hover {
  background-color: #38A2E0;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;



}

div.header-right button.leave-button-active {
  height: 30px;
  padding: 5px 10px;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  font-weight: bold;
}

div.header-right button.leave-button-block {
  display: none;
}
