.channel-header-container {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;

  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}

.header-left {
  height: 60px;
  padding: 10px 20px;
  box-sizing: border-box;

  h1 {
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 5px 0;
  }

  .header-info {
    display: flex;
    align-items: center;

    & > * {
      display: block;
      margin-right: 5px;
    }

    i.star {
      font-size: 12px;
      display: none;
    }

    i.circle {
      font-size: 12px;
      color: $green-logged-in;
    }

    i.person {
      font-size: 15px;
    }

    .header-status-text {
      font-size: small;
      color: $lightgray-small-text;
    }

    .topic-divider {
      color: $lightgray-small-text;
      font-weight: lighter;
      font-size: 12px;
    }
  }
}

.header-right {
  height: 60px;
  box-sizing: border-box;
  align-items: center;
  padding: 15px 20px;

  .leave-button-block {
    display: none;
  }

  .leave-button-active {
    background-color: #fff;
    height: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #000;
    font-size: 12px;
    font-weight: bold;

    &:hover {
      background-color: $lightblue-button;
      color: #fff;
      cursor: pointer;

      transition: background-color 0.5s;
    }
  }
}
